ConsoleApplication1/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EShopItServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetProducer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducer" />
  </wsdl:message>
  <wsdl:message name="IService_GetProducer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProducerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllProducers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllProducers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProduct" message="tns:IService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProductResponse" message="tns:IService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllProducts" message="tns:IService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllProductsResponse" message="tns:IService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProducer" message="tns:IService_GetProducer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProducerResponse" message="tns:IService_GetProducer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllProducers" message="tns:IService_GetAllProducers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllProducersResponse" message="tns:IService_GetAllProducers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service" />
</wsdl:definitions>